<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>2cloud</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/css/index.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon-57-precomposed.png">

<script type="text/javascript">
window.___gcfg = {lang: 'en'};
(function() 
{var po = document.createElement("script");
po.type = "text/javascript"; po.async = true;po.src = "https://apis.google.com/js/plusone.js";
var s = document.getElementsByTagName("script")[0];
s.parentNode.insertBefore(po, s);
})();</script>
    
  </head>

  <body>
<div id="fb-root"></div>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" tabIndex="-1" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a tabIndex="-1" class="brand" href="#">2cloud</a>
          <div class="nav-collapse">
            <ul class="nav">
							<li><a tabIndex="-1" href="http://www.2cloud.org"><i class="icon-large icon-home"></i>Home</a></li>
              <li><a tabIndex="-1" href="http://www.2cloud.org/about"><i class="icon-large icon-info-sign"></i>About</a></li>
							<li class="active"><a tabIndex="-1" href="/"><i class="icon-large icon-download"></i>Download</a></li>
              <li class="dropdown" id="contact">
                <a tabIndex="-1" href="#contact" data-toggle="dropdown"><i class="icon-large icon-comments"></i>Contact <i class="icon-chevron-down"></i></a>
                <ul class="dropdown-menu">
                  <li><a tabIndex="-1" href="http://links.2cloud.org/twitter" target="_blank"><i class="icon-large icon-twitter-sign"></i>Twitter</a></li>
                  <li><a tabIndex="-1" href="http://links.2cloud.org/facebook" target="_blank"><i class="icon-large icon-facebook-sign"></i>Facebook</a></li>
                  <li><a tabIndex="-1" href="http://links.2cloud.org/google+" target="_blank"><i class="icon-large icon-plus"></i>Google+</a></li>
                  <li><a tabIndex="-1" href="http://blog.2cloud.org" target="_blank"><i class="icon-large icon-flag"></i>Blog</a></li>
                  <li class="divider"></li>
                  <li><a tabIndex="-1" href="email"><i class="icon-large icon-envelope"></i>Email</a></li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

		<div class="container-fluid">
			<div class="row-fluid">
				<div class="three-fourths">
					<div class="row-fluid">
						<div class="welcome">
  					  <h1 class="huge clearfix">Make it your own.</h1>
    	        <p class="intro">Host your own instance of 2cloud. Own your data.</p>
							<p>We open source <em>all</em> of the software running on <a href="http://www.2cloud.org" title="2cloud.org">2cloud.org</a> under the <a href="http://www.opensource.org/licenses/mit-license.php" title="The MIT License">the MIT license</a>, and we strive to make it simple to administer your own data.</p>
							<p>We think it's important that you have the option to own your data completely. We offer a hosted instance for the users that don't have the technical skill or desire to run their own instance, but we absolutely refuse to lock people into using it.</p>
						</div>
					</div>
					<div class="row-fluid">
						<div class="one-half">
							<div class="well">
								<h1>First section</h1>
								<p>This would be the first part.</p>
							</div>
						</div>
						<div class="one-half">
							<div class="well">
								<h1>Second section</h1>
								<p>This would be the second part.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="one-fourth">
					<div class="well">
						<h1>Updates</h1>
						<ul class="updates">
							<li><a href="/updates/blah">Did something cool</a></li>
							<li><a href="/updates/blah2">Did something else cool</a></li>
						</ul>
					</div>
				</div>
      </div>
    </div> <!-- /container -->
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=161958307233554";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap-transition.js"></script>
    <script src="/js/bootstrap-alert.js"></script>
    <script src="/js/bootstrap-modal.js"></script>
    <script src="/js/bootstrap-dropdown.js"></script>
    <script src="/js/bootstrap-tab.js"></script>
    <script src="/js/bootstrap-tooltip.js"></script>
    <script src="/js/bootstrap-popover.js"></script>
    <script src="/js/bootstrap-button.js"></script>
    <script src="/js/bootstrap-collapse.js"></script>
  </body>
</html>
